name: Build & Push .NET E-commerce Image

on:
  push:
    branches:
      - master

env:
  IMAGE_NAME: dotnet-ecommerce

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # =========================
      # CHECKOUT SOURCE
      # =========================
      - name: Checkout source
        uses: actions/checkout@v4

      # =========================
      # SETUP DOCKER BUILDX
      # =========================
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # =========================
      # LOGIN TO DOCKER HUB
      # =========================
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # =========================
      # BUILD & PUSH IMAGE
      # =========================
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
